[Desktop Entry]
Type=Application
Name=PolicyKit Authentication Agent
Name[bn]=PolicyKit অনুমোদনের এজেন্ট
Name[br]=Gwezhour dilesa PolicyKit
Name[fy]=PolicyKit Ferifikaasjeagint
Name[gv]=Poageypolaaseyn Obbree Firrinaghey
Name[mai]=PolicyKit सत्यापन प्रतिनिधि
Name[mg]=Agent d'authentification de PolicyKit
Name[nn]=PolicyKit autentiseringsagent
Name[oc]=Agent d'autentificacion de PolicyKit
Name[ro]=Agent de autentificare PolicyKit
Exec=/usr/libexec/polkit-gnome-authentication-agent-1
OnlyShowIn=GNOME;

